.header {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 20px;
  margin: 50px auto;
  width: 60%;
}

.info-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 150px;
  border-radius: 5px;
}

.avatar.ingame {
  border-right: 5px solid rgb(172, 242, 0);
}

.avatar.online {
  border-right: 5px solid rgb(125, 209, 248);
}

.avatar.away {
  border-right: 5px dashed rgb(77, 118, 140);
  filter: brightness(80%);
}

.avatar.offline {
  filter: brightness(50%);
}

.personaname {
  // flex-grow: 1;
  font-size: 3rem;
  font-weight: bolder;
}

.personaname.ingame {
  color: rgb(221, 243, 183);
  text-shadow: 0 0 7px #fff, 0 0 10px rgb(221, 243, 183);
}

.personaname.online {
  color: rgb(125, 209, 248);
}

.personaname.away {
  color: rgb(77, 118, 140);
}

.personaname.offline {
  color: rgb(150, 150, 151);
}

.medal {
  height: 150px;
}

.record-counter-container {
  background-color: rgba(31, 33, 38, 0.75);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.record-counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  // flex-grow: 1;
  width: 33.3%;
}

.record-key {
  color: rgb(154, 154, 154);
  font-size: 2rem;
  font-weight: bold;
}

.record-value {
  color: white;
  font-size: 3.5rem;
  font-weight: bolder;
}

#chart {
  max-width: 50%;
  margin: 30px auto;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-links img {
  height: 25px;
}

.social-links:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.social-links:hover {
  filter: brightness(1.5);
}
