.header {
  background-color: #1f2126;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  width: 70%;
}

.info-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.avatar {
  height: 150px;
  border-radius: 5px;
  // margin-right: 30px;
}

.avatar.ingame {
  border-right: 5px solid rgb(172, 242, 0);
}

.avatar.online {
  border-right: 5px solid rgb(125, 209, 248);
}

.avatar.away {
  border-right: 5px solid rgb(77, 118, 140);
  filter: brightness(80%);
}

.avatar.offline {
  filter: brightness(50%);
}

.personaname {
  // flex-grow: 1;
  font-size: 3rem;
  font-weight: bolder;
}

.personaname.ingame {
  color: rgb(221, 243, 183);
  text-shadow: 0 0 7px #fff, 0 0 10px rgb(221, 243, 183);
}

.personaname.online {
  color: rgb(125, 209, 248);
}

.personaname.away {
  color: rgb(77, 118, 140);
}

.personaname.offline {
  color: rgb(150, 150, 151);
}

.medal {
  height: 150px;
}

.record-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.record-counter-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.record-counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  flex-basis: 0;
}

.record-counter:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.record-key {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.record-key.win {
  color: rgb(117, 178, 75);
}

.record-key.loss {
  color: rgb(216, 70, 54);
}

.record-key.winrate {
  color: rgb(154, 154, 154);
}

.record-value {
  color: white;
  font-size: 3.5rem;
  font-weight: bolder;
}

.socials {
  display: flex;
  justify-content: center;
}

.social-links img {
  height: 25px;
}

.social-links:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.social-links:hover {
  filter: brightness(1.5);
}
