<div class="header" *ngIf="player">
  <div class="info-container">
    <img
      class="info avatar {{ statusClass }}"
      src="{{ player.avatar }}"
      alt="avatar"
    />
    <span class="info personaname {{ statusClass }}">{{
      player.personaName
    }}</span>
    <img class="info medal" src="{{ player.rank.medalUrl }}" alt="medal" />
  </div>
  <div class="record-counter-container">
    <div class="record-counter">
      <span class="record-value">{{ totalGames }}</span>
      <span class="record-key">GAMES</span>
    </div>
    <div class="record-counter">
      <span class="record-value">{{ winCount }}</span>
      <span class="record-key">WINS</span>
    </div>
    <div class="record-counter">
      <span class="record-value">{{ lossCount }}</span>
      <span class="record-key">LOSSES</span>
    </div>
    <div class="record-counter">
      <span class="record-value">{{ winRate }}</span>
      <span class="record-key">WIN RATE</span>
    </div>
    <div class="record-counter">
      <span class="record-value">{{ streak }}</span>
      <span class="record-key">STREAK</span>
    </div>
  </div>
</div>
<div id="chart"></div>
<div class="socials" *ngIf="player">
  <a
    class="social-links"
    href="{{ player.profileUrl }}"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="./assets/steam.png" alt="steam"
  /></a>
  <a
    class="social-links"
    href="{{ player.dotabuffUrl }}"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="./assets/dotabuff.png" alt="dotabuff_player"
  /></a>
</div>

<!-- CUSTOM TOOLTIP -->
<div id="custom-tooltip-container">
  <div class="custom-tooltip">
    <span class="tooltip-title">{{ selectedRecord.lastMatchOn }} </span>
    <div *ngIf="selectedRecord.winCount > 0 || selectedRecord.lossCount > 0">
      <span class="tooltip-content"
        >W/L:
        {{
          selectedRecord.winCount.toString() + "/" + selectedRecord.lossCount
        }}</span
      >
      <br />
      <span class="tooltip-footer">Click to see more details...</span>
    </div>
    <div *ngIf="selectedRecord.winCount == 0 && selectedRecord.lossCount == 0">
      <span class="tooltip-content">No games</span>
    </div>
  </div>
</div>

<!-- MATCHES MODAL -->
<div id="matches-modal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <span class="close" (click)="closeModal()">&times;</span>
      <table *ngIf="selectedMatches.length">
        <thead>
          <tr>
            <th>TIME</th>
            <th>HERO</th>
            <th>RESULTS</th>
            <th>DOTABUFF</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of selectedMatches">
            <td>{{ match.time }}</td>
            <td>
              <img
                class="modal-hero"
                src="{{ openDotaUrl.toString() + match.hero.icon.toString() }}"
                alt="hero"
              />
            </td>
            <td>
              <span *ngIf="match.isWin" class="win">W</span
              ><span *ngIf="!match.isWin" class="loss">L</span>
            </td>
            <td>
              <a
                class="social-links"
                href="{{ match.dotabuffUrl }}"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./assets/dotabuff.png" alt="dotabuff"
              /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
