<div class="toolbar" role="banner">
  <a routerLink="/"
    ><img
      class="logo"
      width="40"
      alt="aghanim logo"
      src="./assets/aghanim_logo.png"
  /></a>
  <span>Welcome</span>
  <div class="spacer">
    <input
      type="text"
      id="profile-url"
      placeholder="Paste Steam Profile URL here to add player"
      (click)="onClick()"
      (keyup)="onKey($event)"
    />
  </div>
  <a
    aria-label="AghanimWeb on Github"
    target="_blank"
    rel="noopener"
    href="https://github.com/johnpelep/AghanimWeb"
    title="Github"
  >
    <img src="./assets/github_logo.png" alt="github logo" />
  </a>
</div>
<router-outlet></router-outlet>
