/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(./assets/lore_bg.jpg),
    linear-gradient(90deg, rgb(4, 19, 45), black, rgb(4, 19, 45));
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}

#loader {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  div {
    background: url(./assets/ajax-loader.gif) center center no-repeat;
    height: 100px;
  }

  &.loading {
    display: inline;
  }
}
