/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(./assets/lore_bg.jpg),
    linear-gradient(
      black,
      rgb(4, 19, 45) 30%,
      rgb(4, 12, 27) 60%,
      rgb(4, 19, 45) 90%,
      rgb(4, 12, 27)
    );
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}
