.matches-container {
  color: white;
  margin: auto;
  width: 60%;

  h2 {
    font-weight: 900;
  }

  .matches-per-date {
    padding: 10px;
    text-align: center;

    h3 {
      font-weight: 900;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      &.odd {
        background-color: transparent;
      }
      &.even {
        background-color: transparent;
        // background-color: rgb(31, 33, 38);
      }

      th {
        color: rgb(119, 143, 142);
        font-weight: 900;
        padding: 10px;
      }

      tbody {
        font-weight: 500;

        td {
          padding: 10px;

          .player {
            color: white;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }

          .hero {
            height: 25px;
          }

          .win {
            color: rgb(116, 175, 74);
          }

          .loss {
            color: rgb(216, 70, 54);
          }

          .social-links img {
            height: 25px;
            &:hover {
              filter: brightness(1.5);
            }
          }
        }
      }
    }
  }
}
